Django==5.2
django-bootstrap5==25.2
django-bootstrap-icons==0.9.0
gunicorn==23.0.0
django-phonenumber-field==8.1.0
opentelemetry-exporter-otlp
opentelemetry-sdk==1.36.0
opentelemetry-instrumentation-django
phonenumbers==9.0.10
whitenoise==6.9.0
