{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<div align="center" id="about">
    <h1>About East Bay Massage and Lymph Drainage</h1>
    <div id="improve" class="row featurette">
        <div class="col-md-5">
            <h2 class="featurette-heading">Information about services</h2>
            <p class="lead">More information here about how we do that.</p>
        </div>
        <div class="col-md-7">
            <img src="{% static 'images/range.png' %}" width="75%" height="75%">          
        </div>
    </div>
</div>
{% endblock content %}