{% extends "base.html" %}

{% block content %}
<style type="text/css">
    #header{
        padding-bottom: 15px;
    }
    p {
      font-size: 20px;
    }
</style>

<div id="header" align="center">
  <h1>About</h1>
  <hr>
  <p>Trang is a certified massage therapist whose goal is to help those in her community achieve optimal well being through therapeutic touch.</p>
  <p>She studied Physiology and received her Bachelor of Science Degree from CSU East Bay before training in massage therapy at The School of Holistic Touch.</p>
  <p>Since completing her training, Trang has been practicing clinical massage therapy while continuing to learn about the human body. She incorporates techniques from multiple modalities into each session to address the specific issue that is present.</p>

  <h1>Education</h1>
  <hr>
  <ul>
    <li>CSU East Bay: Bachelor of Science, Physiology</li>
    <li>School of Holistic Touch: Certified Massage Therapist</li>
    <li>National Academy of Sports Medicine: Certified Exercise Specialist</li>
    <li>Uplifted: Certified Yoga Instructor</li>
    <li>Chikly Health Institute: Lymphatic Drainage Therapy</li>
    <li>UCSF Osher Center for Integrative Health: Oncology Massage Therapy</li>
  </ul>
</div>
{% endblock %}