{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<div align="center" id="about">
    <div id="improve" class="row featurette">
        <div class="col-md-5">
            <p class="lead">Trang is a certified massage therapist and health care provider that strives to help those in her community achieve greater comfort and wellbeing. She grew up in Dublin, CA and studied at CSU East Bay, where she earned a Bachelor of Science Degree in Physiology, before training at School of Holistic Touch. She has a comprehensive knowledge in the anatomy and functions of the human body. Since receiving her certificate, Trang has been working in clinical massage settings and volunteering at Charlotte Maxwell Clinic, a non-profit organization that provides integrative care to women of low income affected by cancer. Trang is continuously learning and developing her craft so she may better serve her community.</p>
            <h2 class="featurette-heading">Education</h2>
            <div align="center">
                <p>Bachelor of Science, Physiology: CSU East Bay</p>
                <p>Certified Massage Therapist: School of Holistic Touch</p>
                <p>Lymph Drainage Therapy: Chikly Institute of Health</p>
                <p>Oncology Massage Therapy: UCSF Osher Center for Integrative Health</p>
                <p>Corrective Exercise Specialist: National Academy of Sports Medicine</p>
            </div>
        </div>
        <div class="col-md-7">
            <img src="{% static 'images/range.png' %}" width="75%" height="75%">          
        </div>
    </div>
</div>
{% endblock content %}