{% extends "base.html" %}

{% block content %}
<style type="text/css">
    #header{
        padding-bottom: 15px;
    }
</style>

<div id="header" align="center">
    <h1>East Bay Massage and Lymph Node</h2>
    <h3>Owned and operated by Trang Phan</p>

    <img src="/static/images/the-masage.jpg" alt="Example Image" width="500" height="600">

    <h3>For appointments, please call 1-925-396-7458, or send an email to <a href = "mailto: ty_north@yahoo.com">trang@website.com</a></h3>
</div>
{% endblock %}