{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<div align="center" id="header-image">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <img src="{% static 'images/header.png' %}" width="100%" height="85%">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <p>Email: <a href = "mailto: {{contact_email}}">{{contact_email}}</a></p>
        </div>
        <div class="col-md-3">
            <p>Phone: <a href="tel:+1{{contact_number_no_space}}">{{contact_number}}</a></p>
        </div>
    </div>
</div>
<div>
    <hr class="featurette-divider">
    <div id="reduce" class="row featurette">
        <div class="col-md-6 offset-md-1">
            <h2 class="featurette-heading" align="center">About</h2>
            <p class="lead">East Bay Massage and Lymph Drainage is an in-home clinical massage service dedicated to providing quality therapeutic massage and manual lymphatic drainage. Natural, hands-on techniques are used to reduce tension and pain, decrease inflammation, relieve stress and improve circulation to achieve greater ease of movement with increased range of motion and improved posture. Each session is tailored to meet the client’s specific preferences and goals.</p>
            <div align="center">
                <a href="/about/">
                    <button id="submit-button" type="submit" class="btn btn-primary">Read More</button>
                </a>
            </div>
        </div>
        <div class="col-md-5">
            <img src="{% static 'images/reduce.png' %}" width="75%" height="75%">          
        </div>
    </div>
    <hr class="featurette-divider">
    <div id="improve" class="row featurette">
        <div class="col-md-6 offset-md-1">
            <img src="{% static 'images/range.png' %}" width="75%" height="75%">          
        </div>
        <div class="col-md-5">
            <h2 class="featurette-heading" align="center">Therapeutic Massage</h2>
            <p class="lead">Short description here.</p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div id="reduce" class="row featurette">
        <div class="col-md-6 offset-md-1">
            <h2 class="featurette-heading" align="center">Lymphatic Drainage </h2>
            <p class="lead">Short description here.</p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'images/reduce.png' %}" width="75%" height="75%">          
        </div>
    </div>
    <hr class="featurette-divider">
    <div id="improve" class="row featurette">
        <div class="col-md-6 offset-md-1">
            <img src="{% static 'images/range.png' %}" width="75%" height="75%">          
        </div>
        <div class="col-md-5">
            <h2 class="featurette-heading" align="center">Oncology Massage</h2>
            <p class="lead">Short description here.</p>
        </div>
    </div>
</div>
{% endblock content %}