{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<div align="center" id="about">
        <h2>Therapeutic Massage
        </h2>
        <div align="center">
            <p>60 minute sessions: $140</p>
            <p>90 minute sessions: $190</p>
            <p>120 minute sessions: $245</p>
        </div>
        <h3>Membership</h3>
        <p>Membership is for those who would like to receive bodywork at least once a month. Members save $25 on any service.</p>
        <div align="center">
            <p>60 minute sessions: $115</p>
            <p>90 minute sessions: $165</p>
            <p>120 minute sessions: $220</p>
        </div>
        <h3>Packages</h3>
        <p>Save money without committing to a monthly membership. Save $25 per session with a package of 10 and $15 per session with a package of 5. Share a package! These sessions may be gifted.</p>
        <h3>Discounts</h3>
        <p>Seniors sixty-five years and older receive $15 off any service.</p>
        <h3>Policies</h3>
        <p>Assessment: Before the first visit, a free in-home assessment is required to ensure the massage session will be safe for both practitioner and client. Please allow 30-60 minutes to complete and go over an intake form.</p>
        <p>Cancellations/ rescheduling: If you are not feeling well or need to postpone your appointment, please call or text <a href="tel:+1{{contact_number_no_space}}">{{contact_number}}</a> or email <a href = "mailto: {{contact_email}}">{{contact_email}}</a></p>.</p>
        <p>Payment: Due at time of service. Cash, Venmo, Zelle, credit/debit card, checks (must present ID)</p>
        <p>Referrals: For each person you refer who books an appointment, you will receive $25 off your next session.</p>
</div>
<div align="center" id="contact-form" class="row justify-content-center">
    <div class="col-md-5">
        <h1>Contact</h1>
        <form method="post" action="/send_message/">
            {% csrf_token %}
            <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="name@example.com" required>
            </div>
            <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="1-555-555-5555" required>
        </div>
            <div class="form-group">
                <label for="message">Type your message here</label>
                <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}