{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<div class="row featurette">
    <div class="col-md-4 offset-md-4">
        <h2 align="center">Massage</h2>
        <div align="center">
            <p>60 minute session: $140</p>
            <p>90 minute session: $190</p>
            <p>120 minute session: $245</p>
        </div>
        <h3 align="center">Membership</h3>
        <p align="center">Membership is for those who would like to receive bodywork at least once a month. Members save $25 on any service.</p>
        <div align="center">
            <p>60 minute session: $115</p>
            <p>90 minute session: $165</p>
            <p>120 minute session: $220</p>
        </div>
        <h3 align="center">Packages</h3>
        <p align="center">Save money without committing to a monthly membership. Save $25 per session with a package of 10 and $15 per session with a package of 5. Share a package! These sessions may be gifted.</p>
        <h3 align="center">Discounts</h3>
        <p align="center">Seniors sixty-five years and older receive $15 off any service.</p>
    </div>
</div>
{% include "contact.html" %}
{% endblock content %}