{% extends "base.html" %}

{% block content %}
<div align="center">
  <h1>Services</h1>
  <p>Enjoy a partial or full body treatment designed to soften and lengthen muscles and bring relief for individuals actively engaged in sports, recovering from injury, or experiencing chronic pain.</p>
  <p>This type of session can include deep tissue, trigger point therapy, Theragun, CBD,  and heat application.</p>

  <h1>Lymphatic Massage</h1>
  <hr> 
  <p>A gentle technique that activates lymph function and circulation to increase detoxification, stimulate the immune system, balance the sympathetic nervous system and promote relaxation. By reducing stagnant fluid in tissues, lymphatic drainage reduces joint pain, inflammation, stiffness, fatigue and bloating. Many can benefit from this technique, including those with an auto-immune disease, arthritis, chronic pain and pre- and post-surgery patients.</p>

  <h1>Therapeutic Massage</h1>
  <hr>
  <p>Designed to soften and lengthen muscles, therapeutic massage incorporates deep tissue, trigger point therapy and myofascial release techniques.</p>

  <h1>Deep Tissue</h1>
  <hr>
  <p>“deep tissue massage is best for giving attention to certain painful, stiff ‘trouble spots’ in your body.” Your therapist will use slow strokes to apply pressure to the structure of tendons, muscles, ligaments, and other tissues.</p>
  <p>Our clients report that deep tissue massage helps with conditions such as repetitive stress injuries, sports injuries, sciatica, plantar fasciitis, and fibromyalgia.</p>
</div>
{% endblock %}