{% extends "base.html" %}

{% block content %}
<style type="text/css">
    #header{
        padding-bottom: 15px;
    }
    p {
      font-size: 20px;
    }
</style>

<div id="header" align="center">
  <h1>Massages</h1>

  <p>Massage is the manipulation of the body's soft tissues. Massage techniques are commonly applied with hands, fingers, elbows, knees, forearms, feet, or a device. The purpose of massage is generally for the treatment of body stress or pain. In European countries, a person professionally trained to give massages is traditionally known as a masseur (male) or masseuse (female). In the United States, these individuals are often referred to as massage therapists, because they must be certified and licensed as "licensed massage therapists".</p>

  <h1>Lymph Node</h1>

  <p>A lymph node, or lymph gland,[1] is a kidney-shaped organ of the lymphatic system and the adaptive immune system. A large number of lymph nodes are linked throughout the body by the lymphatic vessels. They are major sites of lymphocytes that include B and T cells. Lymph nodes are important for the proper functioning of the immune system, acting as filters for foreign particles including cancer cells, but have no detoxification function.

    In the lymphatic system a lymph node is a secondary lymphoid organ. A lymph node is enclosed in a fibrous capsule and is made up of an outer cortex and an inner medulla.
    
    Lymph nodes become inflamed or enlarged in various diseases, which may range from trivial throat infections to life-threatening cancers. The condition of lymph nodes is very important in cancer staging, which decides the treatment to be used and determines the prognosis. Lymphadenopathy refers to glands that are enlarged or swollen. When inflamed or enlarged, lymph nodes can be firm or tender. </p>
</div>
{% endblock %}