{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<div align="center" id="about">
    <h1>Pricing and Services</h1>
    <div id="improve" class="row featurette">
        <div class="col-md-5">
            <h2 class="featurette-heading">Therapeutic Massage
            </h2>
            <ul>
                <li>60 minutes: $140</li>
                <li>90 minutes: $190</li>
                <li>120 minutes: $245</li>
            </ul>
            <h3>Membership</h3>
            <p>Membership is for those who would like to receive bodywork at least once a month. Members save $25 on any service.</p>
            <ul>
                <li>60 minutes: $115</li>
                <li>90 minutes: $165</li>
                <li>120 minutes: $220</li>
            </ul>
            <h3>Packages</h3>
            <p>Save money without committing to a monthly membership. Save $25 per session with a package of 10 and $15 per session with a package of 5. Share a package! These sessions may be gifted.</p>
            <h3>Discounts</h3>
            <p>Seniors sixty-five years and older receive $15 off any service.</p>
        </div>
        <div class="col-md-7">
            <img src="{% static 'images/range.png' %}" width="75%" height="75%">          
        </div>
    </div>
</div>
{% endblock content %}